@model UPINS.Models.ViewModels.BillViewModel
@{

    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;

}

<form method="get" asp-controller="AdminBills" asp-action="GetBills">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery"></input>
                <button type="submit" class="btn btn-secondary ms-3">Buscar</button>
            </div>
        </div>
    </div>
</form>
<div class="container py-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Número de factura</th>
                <th scope="col">Cajero</th>
                <th scope="col">
                    Fecha
                    <span>
                        <span>
                            <a class="btn btn-light" asp-controller="AdminBills" asp-action="GetBills" asp-route-sortBy="CreationDate" asp-route-sortDirection="Asc"
                               asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-pageNumber="@ViewBag.PageNumber">
                                <i class="bi bi-arrow-up"></i>
                            </a>
                        </span>
                    </span>
                    <span>
                        <span>
                            <a class="btn btn-light" asp-controller="AdminBills" asp-action="GetBills" asp-route-sortBy="CreationDate" asp-route-sortDirection="Desc"
                               asp-route-searchQuery="@ViewBag.SearchQuery" asp-route-pageNumber="@ViewBag.PageNumber">
                                <i class="bi bi-arrow-down"></i>
                            </a>
                        </span>
                    </span>
                </th>
                <th scope="col">
                    Total
                </th>
                <th scope="col">
                    Operaciones
                </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var bill in Model.Bills)
            {
                <tr>
                    <td>@bill.BillNumber</td>
                    <td>@bill.User</td>
                    <td>@bill.CreationDate</td>
                    <td>₡@bill.Total</td>
                    <td>
                        <a class="btn btn-secondary" asp-area="" asp-controller="AdminBills" asp-action="ViewBill" asp-route-Id="@bill.Id">
                            Ver factura
                        </a>

                    </td>
                    <td>
                        <form method="post" asp-area="" asp-controller="AdminBills" asp-action="DeleteBill" asp-route-Id="@bill.Id">

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <button class="btn btn-danger" type="submit" >Eliminar</button>
                            }
                            else
                            {
                                <button class="btn btn-danger" type="submit" disabled>Eliminar</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="AdminBills" asp-action="GetBills"
               asp-route-pageNumber="@prevPage" asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection" asp-route-searchQuery="@ViewBag.SearchQuery">Anterior</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="AdminBills" asp-action="GetBills"
                   asp-route-pageNumber="@i" asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection" asp-route-searchQuery="@ViewBag.SearchQuery">@i</a>
            </li>
        }

        <li class="page-item">
            <a class="page-link" asp-controller="AdminBills" asp-action="GetBills"
               asp-route-pageNumber="@nextPage" asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection" asp-route-searchQuery="@ViewBag.SearchQuery">Siguiente</a>
        </li>
    </ul>
</nav>

